layout {
    tab name="Primary" {        
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {        
            pane {
                name "File Explorer"
                command "broot"
                size "15%"
            }
            pane {
                name "Main"
                command "hx"
                size "85%"
            }
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="Version Control" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane {
            name "LayzGit"
            command "lazygit"
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}
